/*
 css required for MainContainer component
*/

.mainContainer {
  container-type: inline-size;
  container-name: mainContainer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

@media (max-width: 768px) {
  .mainContainer {
    flex-direction: column;
    overflow: auto;
    justify-content: flex-start;
    height: 100vh;
  }
}

.leftSection {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 15vw;
}


.rightSection {
  display: flex;
  flex-direction: column;
  width: 85vw;
  height: 100%;
}


@container mainContainer (max-width: 768px) {
  .leftSection {
    height: 200px;
    width: 100%;
  }
  .rightSection {
    width: 100%;
    height: calc(100vh - 200px);
  }
}
