.query-editor {
  width: 100%;
  display: block;
  height: 300px; /* You can adjust the height as needed */
  font-family: "Courier New", Courier, monospace;
  font-size: 14px;
  line-height: 1.5;
  border: 1px solid #ccc;
  resize: none;
  box-sizing: border-box; /* Ensures padding and border are included in width */
  background-color: #fff;
  color: #333;
  min-height: 150px;
  max-height: 60vh;
  height: fit-content;
}
.query-editor-loading {
  /* styles to disable text ares*/
  pointer-events: none;
  background-color: #f9f9f9;
}
.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}


.query-editor::selection {
  background-color: #b3d4fc; /* Highlight color */
  color: #333; /* Text color within selection */
}
.query-editor::after {
  content: "";
  width: 20px; /* Adjust size as needed */
  height: 20px; /* Adjust size as needed */
  background-image: ""; /* Replace with your resize icon */
  background-size: cover;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}
.icon{
  margin-right: 8px;
}
