.query-editor-toolbar {
  height: 30px;
}
.query-text-editor {
  width: 100%;
  display: block;
  height: calc(100% - 30px);
  font-size: 14px;
  line-height: 1.5;
  border: 1px solid #ccc;
  resize: none;
  box-sizing: border-box; /* Ensures padding and border are included in width */
  background-color: #fff;
  color: #333;
}
@container mainContainer (max-width: 768px) {
  .query-text-editor {
    height: 200px;
  }
}
.query-editor-loading {
  /* styles to disable text ares*/
  pointer-events: none;
  background-color: #f9f9f9;
}
.button {
  height: calc(100% - 4px);
  margin: 2px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-color: var(--brand-primary-color);
  color: white;
  font-size: 16px;
  line-height: 1.2;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
  .key-board-text{
    color: black;
  }
  &.disabled{
    background-color: var(--brand-secondary-color);
    cursor: not-allowed;
  }
}

.query-editor::selection {
  background-color: #b3d4fc; /* Highlight color */
  color: #333; /* Text color within selection */
}
.query-editor::after {
  content: "";
  width: 20px; /* Adjust size as needed */
  height: 20px; /* Adjust size as needed */
  background-image: ""; /* Replace with your resize icon */
  background-size: cover;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}
.icon {
  margin-right: 8px;
}
