.query-display-info{
    display: flex;
    background-color: #f9f9f9;
    border-bottom: 1px solid #ccc;
    height: 100%;
    align-items: center;
    justify-content: center;
    font-size: large;
    font-weight: bold;
    color: var(--brand-dark-color);
}

.container {
  height: 100%;
  overflow: auto;
}
