.query-engine {
  flex: 1;
}

.query-editor {
  height: 30vh;
}

.query-result-viewer {
  height: 70vh;
}


@container mainContainer (max-width: 768px) {
  .query-editor {
    height: auto;
  }
  .query-result-viewer {
    max-height: 100%;
  }
}