.queryEditorTabWrapper {
  height: 100%;
}

.tabs {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 40px;
}
.tabContent {
  height: calc(100% - 40px);
}
.tab {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  cursor: pointer;
  background-color: #f8f8f8;
  color: #333;
  font-weight: 500;
  font-size: 1rem;
  transition: background-color 0.2s;
  user-select: none;
}

.active-tab {
  background-color: #fff;
  border-style: solid;
  border-color: #ccc;
  border-width: 0px 0px 1px 0px;
  border-right: 1px solid #ccc;
}
